@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@500;600;700&display=swap');

html {
   scroll-behavior: smooth;
}

/* scrollbar style */
::-webkit-scrollbar {
   width: 5px;
   background-color: none;
}

::-webkit-scrollbar-track {
   background-color: var(--color-2);
}

::-webkit-scrollbar-thumb {
   background-color: var(--color-1);
   border-radius: 5px;
}

/* scrollbar style */

/* variables */
:root {
   /* Font */
   --poppins: "Poppins";
   --lato: "Lato";
   /* Weight */
   --sm: 300;
   --md: 500;
   --lg: 700;
   /* colors */
   --color-1: #F54C5B;
   --color-2: #1a1717;
   --color-3: #f5f5f5;
   --color-4: #272121;
   --color-5: #ec747e;
}

/* text selection */
body h1::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

body span::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

body p::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

/* text selection */
/* formatters */
.section-formatter {
   color: var(--color-3);
   padding: 30px 25px;
}

.h1-text {
   color: var(--color-3);
   font-weight: var(--lg);
   font-family: var(--poppins);
   font-size: 2.3rem;
}

.p-text {
   color: var(--color-3);
   font-weight: var(--lg);
   font-family: var(--lato);
   font-size: 1.3rem;
}

/* formatters */
/* header */
header {
   width: 100%;
   position: fixed;
   z-index: 1;
}

header .header {
   color: var(--color-3);
   background-color: var(--color-2);
   padding: 0 25px;
}

header .header a {
   padding: 0 0 0 11px;
}

header .header .brand-logo {
   font-family: var(--poppins);
   font-weight: var(--lg);
   transition: color 0.8s;
}

header .header .brand-logo:hover {
   color: var(--color-1);
   transition: color 0.8s;
}

header .header li a {
   font-family: var(--lato);
   font-weight: var(--lg);
   transition: color 0.8s;
}

header .header li a:hover {
   transition: color 0.8s;
   color: var(--color-1);
}

/* header */
/* s-introducao */
.s-introducao {
   background-color: var(--color-4);
}

.banner {
   margin: 2rem 0 0 0;
}

.banner h1 span {
   color: var(--color-1);
}

.CV a {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 14rem;
   height: 4rem;
   background-color: var(--color-1);
   margin: 5rem 0 0 0;
   color: var(--color-3);
   font-family: var(--lato);
   font-weight: var(--lg);
   font-size: 1rem;
   border-radius: 7px;
   transition: width 1.5s;
}

.CV a i {
   font-size: 1.5rem;
}

.CV a:hover {
   background-color: var(--color-1);
   transition: width 1.5s;
   width: 16rem;
}

/* s-introducao */



/* s-apresentacao */
.s-apresentacao {
   background-color: var(--color-2);
}

.s-apresentacao .info p {
   color: var(--color-3);
}

.s-apresentacao .info span {
   color: var(--color-1);
   font-weight: var(--lg);
}

/* button linkedin link */
.s-apresentacao .linkedin {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 14rem;
   background-color: var(--color-1);
   margin: 5rem 0 0 0;
   color: var(--color-3);
   font: normal normal var(--lg) 1rem var(--lato);
   border-radius: 7px;
   height: 4rem;
   transition: width 1.5s;
}

.s-apresentacao .info .linkedin:hover {
   transition: width 1.5s;
   width: 16rem;
}

/* s-apresentacao */

/* s-conhecimentos */
.s-conhecimentos {
   background-color: var(--color-4);
   color: var(--color-3);
   padding: 30px 25px;
   height: auto;
}

.s-conhecimentos h1 {
   margin: 0 0 0 10px;
}

.s-conhecimentos .card {
   border-radius: 7px;
   background-color: var(--color-2);
   transition: box-shadow 1.2s ease-in-out;
}

.s-conhecimentos .card .card-content a {
   color: var(--color-1);
}

.s-conhecimentos .card .card-reveal {
   background-color: var(--color-2);
}

.s-conhecimentos .card:hover {
   box-shadow: 0px 0px 15px 6px var(--color-1);
   transition: box-shadow 1.2s ease-in-out;
}

/* s-conhecimentos */

/* s-projetos */
.s-projetos {
   height: auto;
   background-color: var(--color-2);
   color: var(--color-3);
   padding: 30px 25px;
}

.s-projetos h1 {
   margin: 0 0 0 10px;
}

.s-projetos .card-content span {
   color: var(--color-1);
}

.s-projetos .card {
   border-radius: 7px;
   transition: box-shadow 1.2s ease-in-out;
   background-color: var(--color-4);
}

.s-projetos .card .card-action a {
   color: var(--color-1);
}

.s-projetos .card .card-action a:hover {
   color: var(--color-3);
}

.s-projetos .card:hover {
   transition: box-shadow 1s;
   box-shadow: 0px 0px 15px 6px var(--color-1);
}

.s-projetos .card .card-title {
   font: normal normal var(--lg) 1.5rem var(--poppins);
}

.s-projetos .card .card-action {
   border-radius: 7px;
}

/* s-projetos */

/* s-contato */
.s-contato {
   background-color: var(--color-4);
}

.s-contato h1 {
   margin: 0 0 0 10px;
}

.s-contato .card {
   background-color: var(--color-2);
   margin: 0 0 0 10px;
}

.s-contato form .input-field input[type=text] {
   color: var(--color-3);
}

.s-contato form .input-field input[type=text]:focus+label {
   color: var(--color-1);
   font-size: 1.3rem;
}

.s-contato form .input-field input[type=text]:focus {
   border-bottom: 1px solid var(--color-1);
   box-shadow: 0 1px 0 0 #000;
}

.s-contato form .input-field input[type=email] {
   color: var(--color-3);
}

.s-contato form .input-field input[type=email]:focus+label {
   color: var(--color-1);
   font-size: 1.3rem;
}

.s-contato form .input-field input[type=email]:focus {
   border-bottom: 1px solid var(--color-1);
   box-shadow: 0 1px 0 0 #000;
}

.s-contato form .input-field .materialize-textarea label {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 1.3rem;
}

.s-contato form .input-field .materialize-textarea:focus+label {
   color: var(--color-1);
   font-size: 1.3rem;
}

.s-contato form .input-field .materialize-textarea:focus {
   border-bottom: 1px solid var(--color-1);
   box-shadow: 0 1px 0 0 #000;
}

.s-contato form .input-field .materialize-textarea {
   color: var(--color-3);
}

.s-contato .btn-send {
   margin: 0 0 0 6px;
}

.s-contato .btn-form {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 14rem;
   height: 4rem;
   background-color: var(--color-1);
   margin: 5rem 0 0 0;
   color: var(--color-3);
   font-family: var(--lato);
   font-weight: var(--lg);
   font-size: 1rem;
   border-radius: 7px;
   transition: width 1.5s;
}

.s-contato .btn-form:hover {
   transition: width 1.5s;
   width: 16rem;
}

.s-contato .img-contato img {
   margin: 0 0 0 35px;
}

/* s-contato */

/* footer */

footer {
   background-color: var(--color-2);
   color: var(--color-3);
   padding: 0 25px;
}

footer span {
   color: var(--color-1);
}

/* footer */

/* some responsive styles on small and medium devices */
@media screen and (max-width: 768px) {
   .section-formatter {
      text-align: center;
   }

   .s-introducao .banner-info {
      text-align: center;
   }

   .banner .banner-info .CV {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .s-apresentacao .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .s-contato .card .card-content .CV {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}