@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@500;600;700&display=swap');

:root {
   /* Font */
   --poppins: "Poppins";
   --lato: "Lato";
   /* Weight */
   --sm: 300;
   --sm-1: 400;
   --md: 500;
   --lg: 700;

   --color-1: #F54C5B;
   --color-2: #1a1717;
   --color-3: #f5f5f5;
   --color-4: #272121;
   --color-5: #ec747e;

}

/* text selection */
body h1::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

body span::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

body p::selection {
   background-color: var(--color-1);
   color: var(--color-3);
}

/* formatters */
.section-formatter {

   color: var(--color-3);
   padding: 30px 25px;
}

.h1-text {
   color: var(--color-3);
   font-weight: var(--lg);
   font-family: var(--poppins);
   font-size: 2.3rem;
}

.p-text {
   color: var(--color-3);
   font-weight: var(--lg);
   font-family: var(--lato);
   font-size: 1.3rem;
}





/* formatters */















/* HEADER */
header .header {
   color: var(--color-3);
   background-color: var(--color-2);
   padding: 0 25px;
}

header .header .brand-logo {
   font-family: var(--poppins);
   font-weight: var(--lg);
   transition: color 0.8s;
}

header .header .brand-logo:hover {
   color: var(--color-1);
   transition: color 0.8s;
}

header .header li a {
   font-family: var(--lato);
   font-weight: var(--lg);
   transition: color 0.8s;
}

header .header li a:hover {
   transition: color 0.8s;
   color: var(--color-1);
}

/* HEADER */





















/* s-introducao */
.s-introducao {
   background-color: var(--color-4);
}

.banner h1 span {
   color: var(--color-1);
}

.CV a {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 12.2rem;
   height: 4rem;

   background-color: var(--color-1);
   margin: 5rem 0 0 0;
   color: var(--color-3);
   font-family: var(--lato);
   font-weight: var(--lg);
   font-size: 1rem;
   border-radius: 7px;

   transition: width 1.5s;
}

.CV a i {
   font-size: 1.5rem;
}

.CV a:hover {
   background-color: var(--color-1);

   transition: width 1.5s;
   width: 16rem;
}

/* s-introducao */












/* MYSELF */
.s-apresentacao {
   background-color: var(--color-2);
}

.s-apresentacao .info p {
   color: var(--color-3);
}

.s-apresentacao .info span {
   color: var(--color-1);
   font-weight: var(--lg);
}

/* button linkedin link */
.s-apresentacao .linkedin {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 14rem;

   background-color: var(--color-1);
   margin: 5rem 0 0 0;
   color: var(--color-3);
   font: normal normal var(--lg) 1rem var(--lato);
   border-radius: 7px;
   height: 4rem;

   transition: width 1.5s;
}

.s-apresentacao .info .linkedin:hover {
   transition: width 1.5s;
   width: 16rem;

}

/* MYSELF */




















/* PROJECTS */
.s-projetos {
   background-color: var(--color-4);
   color: var(--color-3);
   padding: 30px 25px;
}

.s-projetos h1 {
   margin: 0 0 0 10px;
}

.s-projetos .card-content span {
   color: var(--color-1);
}

.s-projetos .card {
   border-radius: 7px;
   transition: border 2s;
   background-color: var(--color-2);
}

.s-projetos .card:hover {
   transition: border 2s;
   border: 1px solid var(--color-1);
}

.s-projetos .card .card-title {
   font: normal normal var(--lg) 1.5rem var(--poppins);
}

.s-projetos .card .card-action {
   border-radius: 7px;
}

/* PROJECTS */
















@media screen and (max-width: 768px) {
   .section-formatter {
      text-align: center;
   }

   .s-introducao .banner-info {
      text-align: center;
   }

   .banner .banner-info .CV {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .s-apresentacao .info {
      text-align: center;
   }

}